<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- setting name="cacheEnable" value="true"/-->
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="logImpl" value="LOG4J"/><!--增加mybatis日志-->
    </settings>
    <mappers>
        <mapper resource="sqlMapper/UserMapper.xml" />
        <mapper resource="sqlMapper/BlogMapper.xml" />

        <!-- 客户信息管理部分 -->
        <mapper resource="sqlMapper/CustBaseInfoMapper.xml" />
        <mapper resource="sqlMapper/CustEnterInfoMapper.xml" />
        <mapper resource="sqlMapper/CustJobInfoMapper.xml" />
        <mapper resource="sqlMapper/CustPersonalInfoMapper.xml" />
        <mapper resource="sqlMapper/CustRelationshipInfoMapper.xml" />
    </mappers>
</configuration>