<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.dao.CustRelationshipInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sky.pojo.CustRelationshipInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="cust_no" property="custNo" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="CHAR" />
    <result column="relation_type" property="relationType" jdbcType="CHAR" />
    <result column="relation_detail" property="relationDetail" jdbcType="VARCHAR" />
    <result column="relation_biz_id" property="relationBizId" jdbcType="BIGINT" />
    <result column="related_cust_name" property="relatedCustName" jdbcType="VARCHAR" />
    <result column="related_cert_type" property="relatedCertType" jdbcType="VARCHAR" />
    <result column="related_cert_no" property="relatedCertNo" jdbcType="VARCHAR" />
    <result column="related_tel" property="relatedTel" jdbcType="VARCHAR" />
    <result column="related_office" property="relatedOffice" jdbcType="VARCHAR" />
    <result column="related_salary" property="relatedSalary" jdbcType="DECIMAL" />
    <result column="hold_category" property="holdCategory" jdbcType="CHAR" />
    <result column="hold_amount" property="holdAmount" jdbcType="DECIMAL" />
    <result column="hold_shares" property="holdShares" jdbcType="BIGINT" />
    <result column="hold_ratio" property="holdRatio" jdbcType="DECIMAL" />
    <result column="related_addr" property="relatedAddr" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modified, creator, modifier, cust_no, category, relation_type, 
    relation_detail, relation_biz_id, related_cust_name, related_cert_type, related_cert_no, 
    related_tel, related_office, related_salary, hold_category, hold_amount, hold_shares, 
    hold_ratio, related_addr, version, is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sky.pojo.CustRelationshipInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cust_relationship_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cust_relationship_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cust_relationship_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sky.pojo.CustRelationshipInfoExample" >
    delete from cust_relationship_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sky.pojo.CustRelationshipInfo" >
    insert into cust_relationship_info (id, gmt_create, gmt_modified, 
      creator, modifier, cust_no, 
      category, relation_type, relation_detail, 
      relation_biz_id, related_cust_name, related_cert_type, 
      related_cert_no, related_tel, related_office, 
      related_salary, hold_category, hold_amount, 
      hold_shares, hold_ratio, related_addr, 
      version, is_delete)
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{custNo,jdbcType=VARCHAR}, 
      #{category,jdbcType=CHAR}, #{relationType,jdbcType=CHAR}, #{relationDetail,jdbcType=VARCHAR}, 
      #{relationBizId,jdbcType=BIGINT}, #{relatedCustName,jdbcType=VARCHAR}, #{relatedCertType,jdbcType=VARCHAR}, 
      #{relatedCertNo,jdbcType=VARCHAR}, #{relatedTel,jdbcType=VARCHAR}, #{relatedOffice,jdbcType=VARCHAR}, 
      #{relatedSalary,jdbcType=DECIMAL}, #{holdCategory,jdbcType=CHAR}, #{holdAmount,jdbcType=DECIMAL}, 
      #{holdShares,jdbcType=BIGINT}, #{holdRatio,jdbcType=DECIMAL}, #{relatedAddr,jdbcType=VARCHAR}, 
      #{version,jdbcType=INTEGER}, #{isDelete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.sky.pojo.CustRelationshipInfo" >
    insert into cust_relationship_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="custNo != null" >
        cust_no,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="relationType != null" >
        relation_type,
      </if>
      <if test="relationDetail != null" >
        relation_detail,
      </if>
      <if test="relationBizId != null" >
        relation_biz_id,
      </if>
      <if test="relatedCustName != null" >
        related_cust_name,
      </if>
      <if test="relatedCertType != null" >
        related_cert_type,
      </if>
      <if test="relatedCertNo != null" >
        related_cert_no,
      </if>
      <if test="relatedTel != null" >
        related_tel,
      </if>
      <if test="relatedOffice != null" >
        related_office,
      </if>
      <if test="relatedSalary != null" >
        related_salary,
      </if>
      <if test="holdCategory != null" >
        hold_category,
      </if>
      <if test="holdAmount != null" >
        hold_amount,
      </if>
      <if test="holdShares != null" >
        hold_shares,
      </if>
      <if test="holdRatio != null" >
        hold_ratio,
      </if>
      <if test="relatedAddr != null" >
        related_addr,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="custNo != null" >
        #{custNo,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=CHAR},
      </if>
      <if test="relationType != null" >
        #{relationType,jdbcType=CHAR},
      </if>
      <if test="relationDetail != null" >
        #{relationDetail,jdbcType=VARCHAR},
      </if>
      <if test="relationBizId != null" >
        #{relationBizId,jdbcType=BIGINT},
      </if>
      <if test="relatedCustName != null" >
        #{relatedCustName,jdbcType=VARCHAR},
      </if>
      <if test="relatedCertType != null" >
        #{relatedCertType,jdbcType=VARCHAR},
      </if>
      <if test="relatedCertNo != null" >
        #{relatedCertNo,jdbcType=VARCHAR},
      </if>
      <if test="relatedTel != null" >
        #{relatedTel,jdbcType=VARCHAR},
      </if>
      <if test="relatedOffice != null" >
        #{relatedOffice,jdbcType=VARCHAR},
      </if>
      <if test="relatedSalary != null" >
        #{relatedSalary,jdbcType=DECIMAL},
      </if>
      <if test="holdCategory != null" >
        #{holdCategory,jdbcType=CHAR},
      </if>
      <if test="holdAmount != null" >
        #{holdAmount,jdbcType=DECIMAL},
      </if>
      <if test="holdShares != null" >
        #{holdShares,jdbcType=BIGINT},
      </if>
      <if test="holdRatio != null" >
        #{holdRatio,jdbcType=DECIMAL},
      </if>
      <if test="relatedAddr != null" >
        #{relatedAddr,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sky.pojo.CustRelationshipInfoExample" resultType="java.lang.Integer" >
    select count(*) from cust_relationship_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cust_relationship_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.modifier != null" >
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.custNo != null" >
        cust_no = #{record.custNo,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=CHAR},
      </if>
      <if test="record.relationType != null" >
        relation_type = #{record.relationType,jdbcType=CHAR},
      </if>
      <if test="record.relationDetail != null" >
        relation_detail = #{record.relationDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.relationBizId != null" >
        relation_biz_id = #{record.relationBizId,jdbcType=BIGINT},
      </if>
      <if test="record.relatedCustName != null" >
        related_cust_name = #{record.relatedCustName,jdbcType=VARCHAR},
      </if>
      <if test="record.relatedCertType != null" >
        related_cert_type = #{record.relatedCertType,jdbcType=VARCHAR},
      </if>
      <if test="record.relatedCertNo != null" >
        related_cert_no = #{record.relatedCertNo,jdbcType=VARCHAR},
      </if>
      <if test="record.relatedTel != null" >
        related_tel = #{record.relatedTel,jdbcType=VARCHAR},
      </if>
      <if test="record.relatedOffice != null" >
        related_office = #{record.relatedOffice,jdbcType=VARCHAR},
      </if>
      <if test="record.relatedSalary != null" >
        related_salary = #{record.relatedSalary,jdbcType=DECIMAL},
      </if>
      <if test="record.holdCategory != null" >
        hold_category = #{record.holdCategory,jdbcType=CHAR},
      </if>
      <if test="record.holdAmount != null" >
        hold_amount = #{record.holdAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.holdShares != null" >
        hold_shares = #{record.holdShares,jdbcType=BIGINT},
      </if>
      <if test="record.holdRatio != null" >
        hold_ratio = #{record.holdRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.relatedAddr != null" >
        related_addr = #{record.relatedAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cust_relationship_info
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      cust_no = #{record.custNo,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=CHAR},
      relation_type = #{record.relationType,jdbcType=CHAR},
      relation_detail = #{record.relationDetail,jdbcType=VARCHAR},
      relation_biz_id = #{record.relationBizId,jdbcType=BIGINT},
      related_cust_name = #{record.relatedCustName,jdbcType=VARCHAR},
      related_cert_type = #{record.relatedCertType,jdbcType=VARCHAR},
      related_cert_no = #{record.relatedCertNo,jdbcType=VARCHAR},
      related_tel = #{record.relatedTel,jdbcType=VARCHAR},
      related_office = #{record.relatedOffice,jdbcType=VARCHAR},
      related_salary = #{record.relatedSalary,jdbcType=DECIMAL},
      hold_category = #{record.holdCategory,jdbcType=CHAR},
      hold_amount = #{record.holdAmount,jdbcType=DECIMAL},
      hold_shares = #{record.holdShares,jdbcType=BIGINT},
      hold_ratio = #{record.holdRatio,jdbcType=DECIMAL},
      related_addr = #{record.relatedAddr,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sky.pojo.CustRelationshipInfo" >
    update cust_relationship_info
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="custNo != null" >
        cust_no = #{custNo,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=CHAR},
      </if>
      <if test="relationType != null" >
        relation_type = #{relationType,jdbcType=CHAR},
      </if>
      <if test="relationDetail != null" >
        relation_detail = #{relationDetail,jdbcType=VARCHAR},
      </if>
      <if test="relationBizId != null" >
        relation_biz_id = #{relationBizId,jdbcType=BIGINT},
      </if>
      <if test="relatedCustName != null" >
        related_cust_name = #{relatedCustName,jdbcType=VARCHAR},
      </if>
      <if test="relatedCertType != null" >
        related_cert_type = #{relatedCertType,jdbcType=VARCHAR},
      </if>
      <if test="relatedCertNo != null" >
        related_cert_no = #{relatedCertNo,jdbcType=VARCHAR},
      </if>
      <if test="relatedTel != null" >
        related_tel = #{relatedTel,jdbcType=VARCHAR},
      </if>
      <if test="relatedOffice != null" >
        related_office = #{relatedOffice,jdbcType=VARCHAR},
      </if>
      <if test="relatedSalary != null" >
        related_salary = #{relatedSalary,jdbcType=DECIMAL},
      </if>
      <if test="holdCategory != null" >
        hold_category = #{holdCategory,jdbcType=CHAR},
      </if>
      <if test="holdAmount != null" >
        hold_amount = #{holdAmount,jdbcType=DECIMAL},
      </if>
      <if test="holdShares != null" >
        hold_shares = #{holdShares,jdbcType=BIGINT},
      </if>
      <if test="holdRatio != null" >
        hold_ratio = #{holdRatio,jdbcType=DECIMAL},
      </if>
      <if test="relatedAddr != null" >
        related_addr = #{relatedAddr,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sky.pojo.CustRelationshipInfo" >
    update cust_relationship_info
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      cust_no = #{custNo,jdbcType=VARCHAR},
      category = #{category,jdbcType=CHAR},
      relation_type = #{relationType,jdbcType=CHAR},
      relation_detail = #{relationDetail,jdbcType=VARCHAR},
      relation_biz_id = #{relationBizId,jdbcType=BIGINT},
      related_cust_name = #{relatedCustName,jdbcType=VARCHAR},
      related_cert_type = #{relatedCertType,jdbcType=VARCHAR},
      related_cert_no = #{relatedCertNo,jdbcType=VARCHAR},
      related_tel = #{relatedTel,jdbcType=VARCHAR},
      related_office = #{relatedOffice,jdbcType=VARCHAR},
      related_salary = #{relatedSalary,jdbcType=DECIMAL},
      hold_category = #{holdCategory,jdbcType=CHAR},
      hold_amount = #{holdAmount,jdbcType=DECIMAL},
      hold_shares = #{holdShares,jdbcType=BIGINT},
      hold_ratio = #{holdRatio,jdbcType=DECIMAL},
      related_addr = #{relatedAddr,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>